In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [3]:
df=pd.read_csv('tel_churn.csv')

In [4]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [6]:
df=df.drop("Unnamed: 0",axis=1)

In [7]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [9]:
x=df.drop("Churn",axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [10]:
y=df["Churn"]

In [11]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Decision Tree Classifier

In [14]:
model=DecisionTreeClassifier(criterion='gini',random_state=100, max_depth=6, min_samples_leaf=8)

In [15]:
model.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [16]:
y_predict=model.predict(x_test)

In [17]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [20]:
print(classification_report(y_test,y_predict,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86      1044
           1       0.60      0.53      0.56       363

    accuracy                           0.79      1407
   macro avg       0.72      0.70      0.71      1407
weighted avg       0.78      0.79      0.78      1407

In [21]:
print(confusion_matrix(y_test,y_predict))

[[918 126]
 [171 192]]

Due to imbalance data the accuracy, precision, recall everything is very low

So we will use SMOTE analysis to overcome the imbalance data

In [60]:
sm=SMOTEENN()
x_resampled,y_resampled=sm.fit_resample(x,y)

In [61]:
xr_train,xr_test,yr_train,yr_test=train_test_split(x_resampled,y_resampled,test_size=0.2)

In [62]:
model_smote=DecisionTreeClassifier(criterion='gini',random_state=100, max_depth=6, min_samples_leaf=8)

In [63]:
model_smote.fit(xr_train,yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [64]:
yr_predict=model.predict(xr_test)

In [65]:
yr_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [66]:
print(classification_report(yr_test,yr_predict,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.73      0.98      0.84       561
           1       0.97      0.67      0.79       613

    accuracy                           0.82      1174
   macro avg       0.85      0.82      0.82      1174
weighted avg       0.86      0.82      0.81      1174

In [67]:
print(confusion_matrix(yr_test,yr_predict))

[[548  13]
 [201 412]]

# Random Forest Classifier

In [68]:
from sklearn.ensemble import RandomForestClassifier

In [69]:
model_rfc=RandomForestClassifier(n_estimators=100, criterion='gini',random_state=100, max_depth=6, min_samples_leaf=8)

In [70]:
model_rfc.fit(xr_train,yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [71]:
yr_pred_rf=model_rfc.predict(xr_test)

In [72]:
yr_pred_rf

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [73]:
print(classification_report(yr_test,yr_pred_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.87      0.91       561
           1       0.89      0.97      0.93       613

    accuracy                           0.92      1174
   macro avg       0.93      0.92      0.92      1174
weighted avg       0.92      0.92      0.92      1174

In [74]:
print(confusion_matrix(yr_test,yr_pred_rf))

[[490  71]
 [ 21 592]]

# K-Nearest Neighbour

In [75]:
from sklearn.neighbors import KNeighborsClassifier

In [76]:
model_knn=KNeighborsClassifier(n_neighbors=15)

In [77]:
model_knn.fit(xr_train,yr_train)

KNeighborsClassifier(n_neighbors=15)

In [78]:
yr_pred_knn=model_knn.predict(xr_test)

C:\Users\91800\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [79]:
yr_pred_knn

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [80]:
print(classification_report(yr_test,yr_pred_knn,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.92      0.89      0.91       561
           1       0.90      0.93      0.92       613

    accuracy                           0.91      1174
   macro avg       0.91      0.91      0.91      1174
weighted avg       0.91      0.91      0.91      1174

# SVM Classifier

In [82]:
from sklearn.svm import SVC
model_svm=SVC(kernel="linear",C=0.025,random_state=101)
model_svm.fit(xr_train,yr_train)

SVC(C=0.025, kernel='linear', random_state=101)

In [83]:
yr_pred_svm=model_svm.predict(xr_test)

In [84]:
yr_pred_svm

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [85]:
print(classification_report(yr_test,yr_pred_svm,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93       561
           1       0.94      0.94      0.94       613

    accuracy                           0.94      1174
   macro avg       0.94      0.94      0.94      1174
weighted avg       0.94      0.94      0.94      1174

In [88]:
print(confusion_matrix(yr_test,yr_pred_svm))

[[524  37]
 [ 39 574]]

In [89]:
import pickle

In [90]:
file_name="Pred_model.sav"

In [91]:
pickle.dump(model_svm,open(file_name,'wb'))

In [92]:
load_model=pickle.load(open(file_name,'rb'))

In [94]:
load_model.score(xr_test,yr_test)

0.9352640545144804